

<h1>Hello World</h1>

{{ "now" | date }}


{% schema %}
  {
    "name": "Home",
	"max_blocks": 4,
    "settings": [
		{
			"type": "text",
			"label": "Heading text",
			"id" : "heading_text_one"
		}
	],
	"blocks": [
      {
        "name": "Text",
        "type": "text",
        "settings" : [
          {
            "id": "heading_text",
            "type": "text",
            "label": "Heading Text"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
