

<h1>Hello World</h1>

{% for block in section.blocks %}
	<img src="{{ block.settings.card_image | image_url: width: 320 }}" />
{% endfor %}

{% comment %} convert our dates to Number of seconds 
              since 1970-01-01 00:00:00 UTC {% endcomment %}
{% assign dateStart = product.created_at | date: '%s' %}
{% assign nowTimestamp = 'now' | date: '%s' %}

{% comment %} difference in seconds {% endcomment %}
{% assign diffSeconds = nowTimestamp | minus: dateStart %}

{% comment %} difference in days {% endcomment %}
{% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}

<p>difference in days = {{ diffDays }}</p>

{% schema %}
  {
    "name": "Home",
	"max_blocks": 4,
    "settings": [
		{
			"type":"header",
			"content": "Fixed Date"
		},
		{
			"type": "range",
			"label": "Day",
			"max": 31,
			"min": 1,
			"id" : "day",
			"step" : 1,
			"unit": "px",
			"default": 1
		},
		{
			"type": "range",
			"label": "Month",
			"max": 12,
			"min": 1,
			"id" : "month",
			"step" : 1,
			"unit": "px",
			"default": 1
		},
		{
			"type": "range",
			"label": "Year",
			"max": 2022,
			"min": 2000,
			"step" : 1,
			"id" : "year",
			"unit": "px",
			"default": 2000
		}
	],
	"blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings" : [
          {
            "id": "card_image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
