

<h1>Hello World</h1>

{% for block in settings.blocks %}
	<img src="{{ block.card_image | image_url: width: 320 }}" />
{% endfor %}


{% schema %}
  {
    "name": "Home",
	"max_blocks": 4,
    "settings": [
		{
			"type": "text",
			"label": "Heading text",
			"id" : "heading_text_one"
		}
	],
	"blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings" : [
          {
            "id": "card_image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
